/* Variables for Backstage Talks Magazine */

// Colors
$white: #fff;
$black: #251d20;
$lightblue: #00c1b5;
$yellow: #ffbe00;
$red: #e30512;
$orange: #ff651a;
$darkblue: #1d3fbb;

// Height
$issueMinHeight : 750px;