/* SCSS for Backstage Talks Magazine */

@charset "UTF-8";
@import "./base/fonts";
@import "./base/mixins";
@import "./base/reset";
@import "./base/variables";

* {
    font-family: 'Roboto', sans-serif;
    color: $black;
}

body {
    background-color: $lightblue;
}

header {
    position: absolute;
    left: 15px;
    top: 0;
    padding-top: 20px;
    z-index: 2;

    img { width: 160px; }
}

.description a {
    color: $black;
    text-decoration: underline;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .issue {
        padding-top: 35px;
        
        .cover {
            text-align: center;
        
            img { 
                width: 80%; 
                height: auto;
                margin: 0 auto;
            }

            a { color: $white; }

            .buy { text-transform: uppercase; }
        }
    }
}

.smallText {
    font-size: 15px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 1em;
    padding-top: 3px;
}

.largeText {
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 1em;
}

footer {
    .description { 
        text-align: center; 
        padding: 0 15px;
        background-color: transparent;

        .footerText { background-color: transparent; }

        .copyright {
            font-size: 12px;
            font-weight: normal;
            margin-top: .5em;
        }
        .privacyPolicy { margin-top: 1.5em; }

        a:hover { text-decoration: none; }
    }

    .info {
        background-color: transparent;

        .contact {
            text-align: center;
            margin: 3em 0 4em;
        }
        .menu {
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            width: 200px;
            line-height: 1.6;
            font-size: 18px;
            text-align: right;
            margin-bottom: 1em;

            .active { font-weight: bold; }
        }
    }
}

.fp-issue1 { background: $red;}
.fp-issue2 { background: $darkblue; }
.fp-issue3 { background: $yellow; }
.fp-issue4 { background: $orange; }
.fp-issue5 { background: $lightblue; }

@media screen and (min-width: 543px) {
    .wrapper .issue .cover img { width: 420px; }
}

@media screen and (min-width: 767px) {
    header img { width: 260px; }

    footer {
        display: flex;

        .description {
            text-align: left;
            width: 33.33%;
            padding: 0 15px;
        }
        .info {
            width: 66.67%;
            position: relative;

            .contact {
                position: absolute;
                right: 15px;
                bottom: 0;
                text-align: right;
                margin: 0 0 1em;;
            }
        } 
    }
}

@media screen and (min-width: 992px) and (min-height: 650px) {
    //scrolling

    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    //main content
    .wrapper .issue { padding-top: 0; }

    //positioning header & footer
    header {
        position: fixed;
        padding-top: 20px;
        left: 15px;
        top: 0;
    }

    footer {
        .description {
            position: fixed;
            bottom: 0;
            left: 0;
            
            width: 320px;
        }
        .info {
            position: unset;

            .contact {
                position: fixed;
                right: 15px;
                top: 20px;
            }

            .menu {
                display: block;
            }
        }
    }
}